/* IMPORTS
---------------------------------------------------------------------- */
//@import "compass/css3";
@import "globals";
@import "fonts";
//@import "utilities";

/* DOCUMENT
---------------------------------------------------------------------- */

html {

}

body {
	width: 100%;
	height: 100%;
	background-color: black;
}

/* ANCHORS & BUTTONS
---------------------------------------------------------------------- */

button:hover,
button:active,
button {
}

a, a:visited {
	
}

a:hover {
	
}

#rootNode{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
}

/* HEADINGS
---------------------------------------------------------------------- */

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
  
}

h6 {
  
}


/* TEXT
---------------------------------------------------------------------- */

p {

}

em {

}

strong {

}

/* HORIZONTAL RULE
---------------------------------------------------------------------- */

hr {
  
}

/* FORM ELEMENTS
---------------------------------------------------------------------- */

input[type=text] {
  
}

textarea {
  
}

label {
  
}